#cabecalho {
    text-align: center;
    border: 3px solid black;
    font-size: 40px;
}

@media (min-width: 800px) {
    .caixa{
    border: 5px solid #ff00a6;
    background-color: white;
    width: 750px;
    margin: 20px auto;
    padding: 10px;
    }
}
@media (max-width: 799px) {
    .caixa{
    border: 5px solid #ff00a6;
    background-color: white;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    }
}

.caixinha{
    justify-content: center;
    border: 3px solid black;
    width: 80%;
    text-align: left;
}

        /*css relacionado a reservas*/
.form-container {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: left; /* Centers items horizontally on the cross-axis */
    justify-content: center; /* Centers items vertically on the main-axis (if height is defined) */
}

.form-field {
    display: flex;
    align-items: center; /* Aligns label and input vertically */
    margin-bottom: 10px; /* Adds space between fields */
}

.form-field label {
    width: 100px; /* Example fixed width for labels */
    text-align: left; /* Aligns label text to the right */
    margin-right: 10px;
}

/*css relacionado as mensagens que aparecem depois de tentar fazer uma reserva*/
.msg-box {
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;        /* não ocupa toda a largura*/
    max-width: 300px;             /* largura confortável */
    font-size: 14px;
    font-family: Arial, sans-serif;
}

/* cores dos alertas */
.msg-box.success { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
}

.msg-box.error { 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

.msg-box.warning { 
    background-color: #fff3cd; 
    color: #856404; 
    border: 1px solid #ffeeba;
}