body{
    /* Colocando imagem de fundo*/
    background-image: url('./bookshelf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.topbar {
    /* Barra de navegação */
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.topbar_button {

    /* Botões da barra de navegação */
    flex: 1;
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.topbar_button a {
    /* Estilizando os links dos botões */
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}

button:hover {
    /* Cor do botão ao passar o mouse */
    background-color: #721c24;
}

/* Responsividade da barra de navegação */
@media (max-width: 799px) {
    .topbar {
        flex-direction: column; /*quando em telas menores, dispor botões verticalmente*/
        padding-bottom: 20px    ;
    }

    .topbar_button {
        width: 100%;
        font-size: 1.2rem; 
        padding: 12px 20px;
    }
}

@media (min-width: 800px) {
    .topbar {
        flex-direction: row; /* Em telas maiores, botões dispostos horizontalmente*/
    }

    .topbar_button {
        font-size: 1.5rem; 
        padding: 15px 30px;
    }
}


/* Estilos do cabeçalho */
#cabecalho{
    text-align: center;
    border: 3px ridge rgb(55, 55, 55);
    background-color: rgba(255, 255, 255, 0.75);
}

@media (min-width: 800px) {
#cabecalho{
    font-size: 40px;
    
    }
}

@media (max-width: 799px) {
#cabecalho{
    font-size: 5vw; 
    }
}

#cabecalho h1 {
    color: black;
}

/* Estilos da caixa maior */
.caixa{
    border-radius: 30px; /* Bordas arredondadas */
    background-color: rgba(255, 255, 255, 0.75);
    margin: 20px auto;
    padding: 10px;
}

@media (min-width: 800px) {
.caixa{
    width: 750px;
    }
}
@media (max-width: 799px) {
.caixa{
    width: 90%;
    }
}

/* Estilos da caixa menor */

.caixinha{
    margin: 10px auto;
    padding: 10px;
    background-color: #fcf7f3;
    border: 5px ridge #721c24;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

@media (min-width: 800px) {
.caixinha{
    width: 80%; 
    }
}
@media (max-width: 799px) {
.caixinha{
    width: 90%;
    }
}

/* Estilos das caixinhas ainda menores com os resultados de cada livro e cada autor pesquisado*/
.caixinha2{
    margin: 10px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 5px ridge #721c24;
    width: 80%;
    text-align: left;
}

@media (min-width: 800px) {
.caixinha2{
    width: 80%;
    }
}
@media (max-width: 799px) {
.caixinha2{
    width: 90%;
    }
}


h1, h2{
    text-align: center;
    color: #580009;
}

#instrucoes h3{
    font-size: 16px;
}

#instrucoes p{
    font-size: 14px;
}

/*Estilos dos formulários*/

/* Estilo do formulário de pesquisa*/
#form-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: left; /* Centers items horizontally on the cross-axis */
    justify-content: center; /* Centers items vertically on the main-axis (if height is defined) */
}

@media (min-width: 800px) {
.form-field{
    display: flex;
    align-items: center; /* Aligns label and input vertically */
    margin-bottom: 10px; /* Adds space between fields */
    }
}
@media (max-width: 799px) {
.form-field{
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns label and input vertically */
    margin-bottom: 10px; /* Adds space between fields */
    }
}

.form-field label {
    font-family:Arial, Helvetica, sans-serif
}

@media (min-width: 800px) {
.form-field label{
    width: 100px; /* Example fixed width for labels */
    text-align: left; /* Aligns label text to the right */
    margin-right: 10px;
    }
}
@media (max-width: 799px) {
.form-field label{
    width: 95%; /* Example fixed width for labels */
    text-align: center; /* Aligns label text to the right */
    margin-right: 0px;
    }
}

.form-field textarea {
    height: 150px; /* Altura fixa */
    resize: none;  /* Desabilita o redimensionamento do textarea */
}

@media (min-width: 450px) {
.form-field textarea{
    width: 300px;
    }
}
@media (max-width: 449px) {
.form-field label{
    width: 100%;
    }
}

.submit{
    justify-content: center;
}


/*css relacionado as mensagens que aparecem depois de tentar fazer uma reserva*/
.msg-box {
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;        /* não ocupa toda a largura*/
    max-width: 300px;             /* largura confortável */
    font-size: 14px;
    font-family: Arial, sans-serif;
}

/* cores dos alertas */
.msg-box.success { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
}

.msg-box.error { 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

.msg-box.warning { 
    background-color: #fff3cd; 
    color: #856404; 
    border: 1px solid #ffeeba;
}