body{
    background-color: #f2d388;
}

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #cabecalho h1 {
        font-size: 3rem;
        text-align: center;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .index_button {
        font-size: 1.5rem;
        padding: 15px 30px;
        background-color: #d194a1;;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }

    button a {
        color: white;
        text-decoration: none;
    }

    button:hover {
        background-color: #721c24;
    }
