body{
    background-image: url('./library.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #cabecalho {
        background-color: rgba(255, 255, 255, 0.75);
        font-size: 2rem;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .index_button {
        font-size: 1.5rem;
        padding: 15px 30px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 8px;
        text-align: center;
    }

    button a {
        color: white;
        text-decoration: none;
    }

    button:hover {
        background-color: #721c24;
    }
