<!DOCTYPE html>

<html lang="en">

<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Acervo</title>
</head>

<body>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <script>
    document.body.addEventListener('htmx:configRequest', function(event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
        if (csrfToken) {
        event.detail.headers['X-CSRFToken'] = csrfToken;
        }
    });
    </script>

    <h1>Adicionar ao Acervo</h1>
        <h2>Obra</h2>

            <form
                method="POST"
                hx-post="{% url 'criar_livro' %}"
                hx-target="#div_teste"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                Título:  <input type="text"              name="titulo">              <br>
                Gênero:  <input type="text"              name="genero">              <br>
                Ano:     <input type="text"              name="ano">                 <br>
                Sinopse: <br> <textarea maxlength="1024" name="sinopse"> </textarea> <br>
                Autor(es) - Digite os nomes dos autores, separados por vírgula, sem espaço após a vírgula <br>
                Autor(es):   <input type="text"          name="autor">               <br>
                Autor(es) - Digite as biografias dos autores, separadas por barra (/), na ordem em que os autores aparecem <br>
                Biografia do(s) Autor(es): <br> <textarea maxlength="1024" name="biografia"> </textarea> <br>

                <input type="submit" value="Adicionar">
            </form>

    <div id="div_teste">

    </div>
        
    <h2>Exemplar</h2>

            <form
                method="POST"
                hx-post="{% url 'criar_exemplar' %}"
                hx-target="#div_exemplares"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                Título:  <input type="text" name="titulo">

                <input type="submit" value="Adicionar">
            </form>

    <div id="div_exemplares">

    </div>


    <h1>Remover do Acervo</h1>
        <h2>Obra</h2>

            <form
                method="POST"
                hx-delete="{% url 'remover_livro' %}"
                hx-target="#div_remover_livros"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                Título:  <input type="text" name="titulo">

                <input type="submit" value="Remover">
            </form>

    <div id="div_remover_livros">

    </div>
    

    
        <h2>Exemplar</h2>
            <form
                method="POST"
                hx-delete="{% url 'remover_exemplar' %}"
                hx-target="#div_remover_exemplares"
                hx-swap="innerHTML"
            >
                {% csrf_token %}
                ID do Exemplar:  <input type="text" name="id_exemplar">

                <input type="submit" value="Remover">
            </form>
    
    <div id="div_remover_exemplares">

    </div>

</body>

</html>