{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Acervo</title>
    <link rel="stylesheet" href="{% static 'Biblioteca/paginas.css' %}" >
</head>

<body>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <script>
    document.body.addEventListener('htmx:configRequest', function(event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
        if (csrfToken) {
        event.detail.headers['X-CSRFToken'] = csrfToken;
        }
    });
    </script>

    <header>

        <div id="cabecalho">
            <h1>📚 Biblioteca 📖</h1>
        </div>

        <div class="topbar">
            <button class="topbar_button"> <a href="http://127.0.0.1:8000/biblioteca/">Início</a> </button>
            <button class="topbar_button"> <a href="http://127.0.0.1:8000/biblioteca/pesquisa">Pesquisar</a> </button>
            <button class="topbar_button"> <a href="http://127.0.0.1:8000/biblioteca/gerenciar">Gerenciar</a> </button>
        </div>

    </header>

    <div class="caixa">
        <h1>Adicionar ao Acervo</h1>

        <div class="caixinha">
            <h2>Obra</h2>

            <div id="instrucoes">
            <h3>Instruções</h3>
            <p>Autor(es) - Digite os nomes dos autores, separados por vírgula, sem espaço após a vírgula.</p>
            <p>Biografias - Digite as biografias dos autores, separadas por barra (/), na ordem em que os autores aparecem.</p>
            <br>
            </div>
                
                <form
                    method="POST"
                    hx-post="{% url 'criar_livro' %}"
                    hx-target="#div_teste"
                    hx-swap="innerHTML"
                >
                    {% csrf_token %}
                    <div class="form-field" >
            
                        <label for="titulo">Título:</label>     
                        <input type="text" name="titulo"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="genero">Gênero:</label>     
                        <input type="text" name="genero"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="ano">Ano:</label>     
                        <input type="text" name="ano"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="sinopse">Sinopse:</label>     
                        <textarea maxlength="1024" name="sinopse"> </textarea><br>
                    </div>

                    <div class="form-field" >
            
                        <label for="autor">Autor:</label>     
                        <input type="text" name="autor"><br>
                    </div>
            
                    <div class="form-field" >
            
                        <label for="biografia">Biografia do(s) Autor(es):</label>     
                        <textarea maxlength="1024" name="biografia"> </textarea><br>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Criar livro"><br>
                    </div> 
                </form>

            <div id="div_teste"></div>

        </div>

        <br>

        <div class="caixinha">
            
            <h2>Exemplar</h2>

                    <form
                        method="POST"
                        hx-post="{% url 'criar_exemplar' %}"
                        hx-target="#div_exemplares"
                        hx-swap="innerHTML"
                    >
                        {% csrf_token %}
                        <div class="form-field" >
            
                            <label for="titulo">Título:</label>     
                            <input type="text" name="titulo"><br>
                        </div>
    
                        <div class="form-field">
                            <input type="submit" value="Adicionar"><br>
                        </div> 

                    </form>

            <div id="div_exemplares"></div>

        </div>

        <br>

    </div>

    <br>

    <br>

    <div class="caixa">
        <h1>Remover do Acervo</h1>
        <div class="caixinha">
                <h2>Obra</h2>
                

                    <form
                        method="POST"
                        hx-delete="{% url 'remover_livro' %}"
                        hx-target="#div_remover_livros"
                        hx-swap="innerHTML"
                    >
                        {% csrf_token %}
                        <div class="form-field" >
            
                            <label for="titulo">Título:</label>     
                            <input type="text" name="titulo"><br>
                        </div>
    
                        <div class="form-field">
                            <input type="submit" value="Remover"><br>
                        </div> 
                    </form>

            <div id="div_remover_livros"></div>
        </div>

        <br>

        <div class="caixinha">
            <h2>Exemplar</h2>
                <form
                    method="POST"
                    hx-delete="{% url 'remover_exemplar' %}"
                    hx-target="#div_remover_exemplares"
                    hx-swap="innerHTML"
                >
                    {% csrf_token %}
                    <div class="form-field" >
            
                        <label for="id_exemplar">ID do Exemplar:</label>     
                        <input type="text" name="id_exemplar"><br>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Remover"><br>
                    </div> 
                </form>
        
        <div id="div_remover_exemplares"></div>
        </div>

        <br>

    </div>

    <br>

    <br>
    
    <div class="caixa">
        <h1>Atualizar o Acervo</h1>

        <div class="caixinha">
            <h2>Obra</h2>

            <div id="instrucoes">
                <h3>Instruções</h3>
                <p>Autor(es) - Digite os nomes dos autores, separados por vírgula, sem espaço após a vírgula. </p>
                <p>Biografias - Digite as biografias dos autores, separadas por barra (/),
                na ordem em que os autores aparecem (se quiser atualizar a(s) biografia(s) do(s) auor(es),
                é necessário colocar seu(s) nome(s) no campo de autor acima) </p>
                <br>
            </div>

                <form
                    hx-put="{% url 'atualizar_livro' %}"
                    hx-target="#div_atualizacao"
                    hx-swap="innerHTML"
                >
                    {% csrf_token %}
                    <div class="form-field" >
            
                        <label for="id">ID do Livro:</label>     
                        <input type="numer" name="id"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="titulo">Título:</label>     
                        <input type="text" name="titulo"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="genero">Gênero:</label>     
                        <input type="text" name="genero"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="ano">Ano:</label>     
                        <input type="text" name="ano"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="sinopse">Sinopse:</label>     
                        <textarea maxlength="1024" name="sinopse"> </textarea><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="autor">Autor:</label>     
                        <input type="text" name="autor"><br>
                    </div>
                    <div class="form-field" >
            
                        <label for="biografia">Biografia do(s) Autor(es):</label>     
                        <textarea maxlength="1024" name="biografia"> </textarea><br>
                    </div>

                    <div class="form-field" id="submit">
                    <input type="submit" value="Atualizar"><br>
                    </div> 
                </form>

            <div id="div_atualizacao"></div>
        </div>    

        <br>

    </div>

</body>

</html>