<div>
<h2>Resultados</h2>

{% if tipo == "livro" %}
    {% for elemento in lista %}

    <div class="caixinha">
        <ul>
            <li>Título: {{ elemento.titulo }}</li>
            <li>Ano de publicação: {{ elemento.ano_de_publicacao }}</li>
            <li>Gênero: {{ elemento.genero }}</li>
            <li>Número de exemplares disponíveis: {{ elemento.exemplares_disponiveis }}</li>
            <li>Sinopse: {{ elemento.sinopse }}</li>
        </ul>
    </div>
    <br><br>
        
        {% empty %}
            Nenhum livro encontrado
    {% endfor %}
{% else %}
    {% for elemento in lista %}
        
        {{ elemento.nome }}
        {% empty %}
            Nenhum autor encontrado
    {% endfor %}
{% endif %}


</div>