<div>
<h2>Resultados</h2>

{% if tipo == "livro" %}
    {% for elemento in lista %}

    <div class="caixinha">
        <ul>
            <li>Título: {{ elemento.titulo }}</li>
            <li>ID do livro {{elemento.id }}</li>
            <li>Autor(es):
                <ul>
                    {% for autoria in elemento.autoria.all %}
                        <li>{{ autoria.autor.nome }}</li>
                    {% empty %}
                        <li>Sem autores cadastrados</li>
                    {% endfor %}
                </ul>
            <li>Ano de publicação: {{ elemento.ano_de_publicacao }}</li>
            <li>Gênero: {{ elemento.genero }}</li>
            <li>Número de exemplares disponíveis: {{ elemento.exemplares_disponiveis }}</li>
            <li>Exemplares disponíveis:</li>
            <ul>
                {% for exemplar in livro.exemplar_set.all() %}
                    <li>Exemplar ID: {{ exemplar.id }} - Disponível: {{ exemplar.disponivel }}</li>
                {% empty %}
                    <li>Sem exemplares registrados</li>
                {% endfor %}
            </ul>
            <li>Sinopse: {{ elemento.sinopse }}</li>
        </ul>
    </div>
    <br><br>
        
        {% empty %}
            Nenhum livro encontrado
    {% endfor %}
{% else %}

{% for elemento in lista %}

    <div class="caixinha">
        <ul>
            <li>Nome: {{ elemento.nome }}</li>
            <li>Livro(s):
            <ul>
                {% for autoria in elemento.autoria.all %}
                    <li>{{ autoria.livro.titulo }}</li>
                {% empty %}
                    <li>Sem livros cadastrados</li>
                {% endfor %}
            </ul>
        <li>Biografia: {{ elemento.biografia }}</li>
    </ul>
</div>
<br><br>
    
    {% empty %}
        Nenhum autor encontrado
{% endfor %}

{% endif %}


</div>